
.rowOne{
  background:url(./images/thePlanets.jpg);
  background-size: 100%;
  height:70vh;
  opacity:70%;
  font-family:'Times New Roman', Times, serif;color:white;
  font-weight:300;
  text-align:center
 }
 .rowTwo{
     background-color: bisque;
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
 
     @media (max-width: 800px) {
   .rowTwo{
     flex-direction: column;
   }
 }
 .rowThree{
     background-color: bisque;
         display:flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
 
     @media (max-width: 800px) {
   .rowThree{
     flex-direction: column;
   }
 }
 .rowfour{
   background-color: bisque;
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
     }
 
     @media (max-width: 800px) {
   .rowfour{
     flex-direction: column;
   }
 }
 
 .col{
   flex: 45%;
   max-width: 45%;
   padding: 0 4px;
   text-align: center;
   padding:120px;
 }
 .col3{
   flex: 45%;
   max-width: 45%;
   padding: 0 4px;
   padding:120px;
 }
 .col4{
   flex: 45%;
   max-width: 45%;
   padding: 0 4px;
   padding:120px;
 }
 #buggie{
 border-radius:100%;
 }
 h1{
 padding-top: 100px;
 }